<!DOCTYPE html>
<html lang="{{.Site.Params.languageCode}}">
<head>
{{ partial "header.html" . }}
</head>
<body>
	{{partial "navbar.html"  (dict "context" . "value" 10)}}

	<div class="page-header page-header-xs" data-parallax="false" style="background-color: #8eccc2; background-image: url({{.Site.BaseURL}}{{.Params.headerBgImg}})" >
		<div class="filter"></div>
		<div class="content-center">
			<div class="container">
				<h1>{{.Title}}</h1>
				<h3>{{.Params.subtitle}}</h3>
			</div>
		</div>
	</div>

	<div class="wrapper">
		{{.Content}}
	</div>
	
	{{partial "footer.html" .}}
</body>
</html>
