
/*bottoni danger: arancione-->arancio linkeddata.center;*/

.btn-danger {
	background-color: #ff8108;
    border-color: #ff8108;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .show > .btn-danger.dropdown-toggle {
    background-color: #ff6508;
    color: #FFFFFF;
    border-color: #ff6508;
 }

.btn-danger:not([disabled]):not(.disabled).active, .btn-danger:not([disabled]):not(.disabled):active, .show>.btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #ff4e17;
    border-color: #ff4e17;
    box-shadow: 0 0 0 0.2rem rgba(220, 63, 53, 0.5);
}

/*bottone neutral: azzurro --> arancio loinkeddata.center es. LEARN NOW*/

.btn-outline-neutral {
    border-color: #ff8108;
    color: #ff8108;
    opacity: 1;
    filter: alpha(opacity=100);
}

.btn-outline-neutral:hover, .btn-outline-neutral:focus {
    color: #ffffff;
    background-color: #ff8108;
}

.btn-outline-neutral:hover, .btn-outline-neutral:focus, .btn-outline-neutral:active, .btn-outline-neutral.active, .open > .btn-outline-neutral.dropdown-toggle {
   border-color: #ff8108;
}

/*link info: azzurro --> arancio linkeddata.center*/
.btn-info.btn-link {
    color: #ff8108;
}

.btn-info.btn-link:hover, .btn-info.btn-link:focus, .btn-info.btn-link:active, .btn-info.btn-link.active, .open > .btn-info.btn-link.dropdown-toggle {
    background-color: transparent;
    color: #ff6508;
}

.btn-info:not([disabled]):not(.disabled).active, .btn-info:not([disabled]):not(.disabled):active, .show>.btn-info.dropdown-toggle {
    color: #fff;
    background-color: #ff4e17;
    border-color: #ff4e17;
    box-shadow: 0 0 0 0.2rem rgba(220, 63, 53, 0.5);
}

/*generic link*/
a{
	color: #ff8108;
}

a:hover, a:focus {
    color: #ff6508;
    text-decoration: none;
}

/*button-info azurro --> aranco linkeddata.center*/
.btn-info {
    background-color: #ff8108;
    border-color: #ff8108;
    opacity: 1;
    filter: alpha(opacity=100);
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .show > .btn-info.dropdown-toggle {
    background-color: #ff6508;
    color: #FFFFFF;
    border-color: #ff6508;
}

/*bottone typeform*/
.typeform-btn {
	text-decoration:none;
	background-color:#ff8108; /*#267DDD;*/
	color:white;
	cursor:pointer;
	font-family:Helvetica,Arial,sans-serif;
	font-size:16px;
	line-height:40px;
	text-align:center;
	margin:0;
	height:40px;
	padding:0px 20px;
	border-radius:20px;
	max-width:100%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	font-weight:bold;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale; 
	position: fixed; 
	right: 15px; 
	bottom: 15px; 
	z-index: 1000;
}

.typeform-btn:hover {
	background-color:#ff6508;
	color: #ffffff;
}

/*background layer header*/
.bg-header{
	/*background-image: url('../img/net2.png');*/
	
}

/*filter*/
.page-header .filter::after {
    background-color: rgba(0, 0, 0, 0.0);
}

@media screen and (min-width: 767px){
	.btn-under-video {
		margin-top: -135px;
	}

	.pull-right {
		text-align: right;
	}

	.pull-right .stacked-links li {
		padding-right: 0px!important;
	}
	.sm-nowrap{
		white-space: nowrap;
	}
}

@media screen and (min-width: 479px){
	.btn-under-video {
		margin-top: -90px;
	}
}

@media screen and (min-width: 1023px){
	.btn-under-video {
		margin-top: -150px;
	}
	#img404{
		max-width: 50%!important;
	}
}

@media screen and (max-width: 481px){
	.fix_pos_submit {
		text-align: center;
		margin-top: 15px;
	}
	.fix_center_link_footer {
		text-align: center;
		
		
	}
	.fix_center_link_footer li{
		padding-right:  0px!important;
		
	}

	.fix_center_link_footer .pull-right{
		float: none!important;
		
		
	}
	.fix-link-footer-container{
		text-align: center;
	}

	.solution-title-h2{
		text-align: center;
	}
}


.titolo-ldd {
	color: #00cca8!important;
}

.fixed-top.navbar-transparent .container .navbar-translate .navbar-header .navbar-brand .logo-navbar{
	max-width: 240px;
	content:url("../img/logo-bianco-trasp-oriz.PNG");
}


.fixed-top .container .navbar-translate .navbar-header .navbar-brand .logo-navbar{
	max-width: 240px;
	content:url("../img/logo-grigio-trasp-oriz.png");
}


.s-descr p{
	font-size: 18pt!important;
}

.section-image:before{
	background-color: rgba(0, 0 , 0, 0.2)!important;
}


/*fix mobile margin issue*/
.row{
	margin-left: 0px!important;
	margin-right: 0px!important;
}

/*tables*/

th {
    background-color: #8eccca;
    color: white;
    padding: 10px;
    border: solid 1px #597473;
}
td {
	padding: 10px;
	border: solid 1px #597473;
}

table{
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

li{
	font-size: 15px;
}

.dropdown-menu.dropdown-danger .dropdown-item:hover, .dropdown-menu.dropdown-danger .dropdown-item:focus{
	background-color: #ff8108!important;
}

.contact-link{
	color: #ff8108!important;
}

.contact-link:active{
	color: #ffffff!important;
	border:none;
}

.contact-link:hover{
	color: #ffffff!important;
	background-color: #ff8108!important;
	border:none;
}

.terms-cont h2{
	font-size: 2.0em!important;
	font-weight: bolder!important;
	color: #8eccc2!important;
}
.terms-cont h3{
	font-size: 1.6em!important;
}

.header-blurred-filter::after{
	background-color: rgba(0, 0, 0, 0.2)!important;
}

h2{
	margin-bottom:  30px;
}

/*Lang flags*/
.lang-links{
	text-align: center;
}
.lang-link{
	display: inline-block;
}
.lang-link a{
	color:  #66615b!important;
	font-size: 8pt!important;
}
.lang-link a:hover{
	color:  #ff8108!important;
}
.lang-link img{
	max-width: 15px; 
	margin-top: -30px;
}

/*COOKIE LAW*/
.cc-type-info, a.cc-btn{
	color: #ffffff!important;
}
a.cc-btn{
	border-radius: 50px;
}

/*FIX NAVBAR RESPONSIVE*/
@media screen and (max-width: 991px){
	ul.dropdown-menu{
		display: table!important;
		width: 230px!important;
		max-height: 100vh;
		overflow-y: scroll!important;
		height: 0!important;
	}
}

/*Icone*/

.icon-danger{
	color: #ff8108!important;
}

b, strong{
	font-weight: bold!important;
}

.modal-body .landing-section{
	padding: 0px;
}
.modal-body .landing-section .container{
	padding: 0px;
}
.btn-color-text{
	color: #ff8108!important;
}

.card-body h6.text-success{
	color: #8eccc2!important;
}

.btn-outline-success {
    border-color: #8eccc2!important;
    color: #8eccc2!important;
}

.btn-outline-success:hover, .btn-outline-success:focus{
	border-color: #8eccc2!important;
	background-color: #8eccc2!important;
	color: white!important;
}
.btn-outline-success:active{
	border-color: #547973!important;
	background-color: #547973!important;
	color: white!important;
}

.transparent-card{
	border: 3px solid #ff8108!important;
	border-radius: 12px!important;
}
.price-feature-highlight{
	color: #ff8108!important;
}

.post-copyright{
	margin-top: 30px;
    border-top: 1px solid #F1EAE0;
}
.post-copyright p{
	margin: 20px 0px; 
	font-size: 60%;
}
