<!DOCTYPE html>
<html lang="{{.Site.Params.languageCode}}">
<head>
{{partial "header.html" . }}
</head>
<body>
  {{partial "navbar.html"  (dict "context" . "value" 10)}}

	<div class="page-header page-header-xs" style="">
		<div class="header-bg" style="width: 100%; height: 100%; position: absolute; background-color: #8eccc2; background-image: url({{.Site.BaseURL}}{{.Params.headerBgImg}}); filter: blur(7px); background-size: cover; background-position: center;"></div>
			<div class="filter header-blurred-filter"></div>
			<div class="content-center">
				<div class="container" >
					<h1 class="title" >{{.Page.Params.title | markdownify}}</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="wrapper">
		<div class="section landing-section" style="padding: 10px 0px 20px 0px">
				<div class="container">
				<div class="row">
					<div class="col-md-8">
					<article>
						{{.Content}}
					</article>
					</div>
				</div>
				</div>
		</div>
	</div>
{{partial "footer.html" .}}
</body>
</html>
