<!DOCTYPE html>
<html lang="{{.Site.Params.languageCode}}">
<head>
{{ partial "header.html" . }}
</head>
<body>
{{partial "navbar.html"  (dict "context" . "value" 10)}}

	<div class="page-header page-header-xs" data-parallax="true" style="background-color: #8eccc2; background-image: url({{.Site.BaseURL}}{{.Params.headerBgImg}}">
		<div class="filter"></div>
		<div class="content-center">
			<div class="container">
				<h1>{{.Title | markdownify}}</h1>
			</div>
		</div>
	</div>
	
	<div>
	  <div itemtype="http://schema.org/Organization" itemid="http://linkeddata.center/about#administration" itemscope>
	    <link itemprop="parentOrganization" href="http://linkeddata.center/" />
	    <meta itemprop="name" content="LinkedData.Center sede legale" />
	    <div itemprop="address" itemtype="http://schema.org/PostalAddress" itemid="http://linkeddata.center/about#headquarters" itemscope>
	      <meta itemprop="addressCountry" content="IT" />
	      <meta itemprop="addressRegion" content="Lecco" />
	      <meta itemprop="streetAddress" content="Via Leonardo da Vinci, 10" />
	      <meta itemprop="addressLocality" content="Lecco" />
	      <meta itemprop="postalCode" content="23900" />
	    </div>
	  </div>
	  <div itemtype="http://schema.org/Organization" itemid="http://linkeddata.center/about#labs" itemscope>
	    <link itemprop="parentOrganization" href="http://linkeddata.center/" />
	    <div itemprop="address" itemtype="http://schema.org/PostalAddress" itemid="http://linkeddata.center/about#labs-esino" itemscope>
	      <meta itemprop="addressCountry" content="IT" />
	      <meta itemprop="addressLocality" content="Esino Lario" />
	      <meta itemprop="addressRegion" content="Lecco" />
	      <meta itemprop="streetAddress" content="Via Montefiori, 13" />
	      <meta itemprop="postalCode" content="23825" />
	    </div>
	    <meta itemprop="name" content="LinkedData.Center sede legale" />
	  </div>
	  <div itemtype="http://schema.org/Person" itemid="http://linkeddata.center/about#enrico" itemscope>
	    <meta itemprop="email" content="enrico.fagnoni@linkeddata.center" />
	    <meta itemprop="name" content="Enrico Fagnoni" />
	    <link itemprop="url" href="https://www.linkedin.com/in/efagnoni/" />
	    <link itemprop="url" href="https://it.wikipedia.org/wiki/Enrico_Fagnoni" />
	    <link itemprop="worksFor" href="http://linkeddata.center/" />
	  </div>
	</div>
	
	<div class="wrapper">
		{{.Content}}
	</div>

{{partial "footer.html" .}}
</body>
</html>
