<!DOCTYPE html>
<html lang="{{.Site.Params.languageCode}}">
<head>
{{ partial "header.html" . }}
<style type="text/css">
	.landing-section{padding: 20px 0px}
</style>
</head>
<body>
  {{ partial "navbar.html"  (dict "context" . "value" 200)}}
  {{ $relatedSolution := index .Params.solutions 0 }}
  <!-- TODO header differenti per prodotto, la stessa con colori diversi-->
    <div class="page-header page-header-xs" data-parallax="false" style="background-color: #8eccc2; background-image: url({{.Site.BaseURL}}{{.Params.headerBgImg}})">
      <div class="filter"></div>
      <div class="content-center">
        <div class="container">
          <div class="icon icon-default" >
            <img src="{{.Site.BaseURL}}css/service-svg/service-{{$relatedSolution}}.svg" style="max-width: 120px; margin-top: 70px">
          </div>
          <h1 class="title" style="margin-top: 15px">{{.Title | markdownify}}</h1>
          <h4 class="title" style="margin-top: -17px">{{.Params.description | markdownify}}</h4>
        </div>
      </div>
    </div>

    <div class="wrapper">
	    {{.Content}}
	    <div class="section  landing-section">
	      <div class="container">
	        <div class="row">
	          <div class=" ml-auto mr-auto">
	            <div class="row ">
	              <div class="icon icon-default" style="margin-top: 2vh" >
	                <i class="nc-icon planet" style="font-size: 60px"></i>
	              </div>
	              <h2 class="title titolo-ldd"  >{{.Site.Params.productRelatedArticlesLabel | default "Related articles"}}</h2>
	            </div>
	          </div>
	          <br> <br>
	        </div>
	        <div class="row" style="margin-top: 2vh;  float: none; display: inline;">
	          <div class="row">
	          	<!-- list solution -->
	          	{{ $solution := where .Site.Pages "Section" "s"}}
			  	{{ $matches := where $solution ".Params.tags" "intersect" .Page.Params.tags}}
			  	{{range first 1 $matches}}
	            <div class="col-md-3">
	              <div class="info">
	                <div class="icon icon-default">
	                  <i class="nc-icon nc-paper" style="color: #8accc2"></i>
	                </div>
	                <div class="description">
	                  <h4 class="info-title">{{.Description}}</h4>
	                  <a href="{{.Permalink}}" class="btn btn-link btn-info">{{.Site.Params.productReadArticles | default "Read more"}}</a>
	                </div>
	              </div>
	            </div>
	    	  	{{end}}
	          	<!-- list articles -->
	          	{{ $posts := where .Site.Pages "Section" "b"}}
			  	{{ $matches := where $posts ".Params.tags" "intersect" .Page.Params.tags}}
			  	{{ $v3 := sort $matches ".Params.date" "desc"}}
	            {{range first 8 $v3}}
	            <div class="col-md-3">
	              <div class="info">
	                <div class="icon icon-default">
	                  <i class="nc-icon nc-paper" style="color: #8accc2"></i>
	                </div>
	                <div class="description">
	                  <h4 class="info-title">{{.Title}}</h4>
	                  <a href="{{.Permalink}}" class="btn btn-link btn-info">{{.Site.Params.productReadArticles | default "Read more"}}</a>
	                </div>
	              </div>
	            </div>
	    	  	{{end}}
	          </div>
	        </div>
	      </div>
	    </div><!-- fine sec art -->
    </div>

    {{ partial "footer.html" . }}
</body>
</html>