
<!-- v2
<a class=" button btn btn-danger btn-round" id="typeform_help" data-toggle="modal" data-target="#mc-contattaci" form="contattaci" style="display: none;color: white; position: fixed; right: 15px; bottom: 15px; z-index: 1000;">
	<span class="fa fa-comments" style="color: white;
				font-size: large;" aria-hidden="true"></span>
</a>

{{partial "mc-form-contattaci-modal" .}}
<script type="text/javascript">
	window.addEventListener('load', function () {
		var btn = document.getElementById("typeform_help");
		btn.style.display = 'inline-block';
	})
</script>
-->

<footer class="footer footer-big footer-gray">
	<div class="container" style="text-align: center;text-transform: uppercase; font-size: 8pt;">
		
		<div class="row">
			<div class="col-md-4" style="font-size: 8pt; text-align: left;">
				<a rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons license" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a>
				© by <a href="/about">LinkedData.Center</a> 
			</div>

			<div class="col-md-4" style="text-align: center;">
				<div >
					<a style="color: #66615b" rel="canonical" href="{{.Site.BaseURL}}policies/privacy">Privacy</a>
					<img style="height: 40px;margin-left: 20px;margin-right: 20px" itemprop="logo" src="{{.Site.BaseURL}}img/ldc-icon.png" alt="LinkedData.Center" data-pagespeed-url-hash="758781074">					
					<a style="color: #66615b" rel="canonical" href="{{.Site.BaseURL}}policies/cookies">Cookie</a>
				</div>
			</div>

			<div class="col-md-4" style="text-align: right;">
				<a href="https://it.linkeddata.center/"><img src="{{.Site.BaseURL}}css/flags-lang-svg/italy.svg" style="max-width: 15px;">&nbsp; ITA</a>
				|
				<a href="https://en.linkeddata.center/"><img src="{{.Site.BaseURL}}css/flags-lang-svg/united-kingdom.svg" style="max-width: 15px;">&nbsp; ENG</a>
			</div>
		</div>
	</div>
<!-- v2
	<div class="col-md-12 col-12" style="margin-top: 20px">
		<div class="social-area" style="text-align: center;">
			<a rel="canonical" href="http://linkeddata.center/social/linkedin" style="padding-right: 10px;" class="btn btn-just-icon btn-linkedin">
				<i class="fa fa-linkedin" aria-hidden="true"></i>
			</a>
			<a rel="canonical" href="http://linkeddata.center/social/facebook" style="padding-right: 10px;" class="btn btn-just-icon btn-facebook">
				<i class="fa fa-facebook" aria-hidden="true"></i>
			</a>
			<a rel="canonical" href="http://linkeddata.center/social/twitter" style="padding-right: 10px;" class="btn btn-just-icon btn-twitter">
				<i class="fa fa-twitter" aria-hidden="true"></i>
			</a>
			<a rel="canonical" href="http://linkeddata.center/social/github" style="padding-right: 10px;" class="btn btn-just-icon btn-github">
				<i class="fa fa-github-alt" aria-hidden="true"></i>
			</a>
		</div>
	</div>

-->

	<!-- v2
	<hr />
	<div class="copyright" style="padding-right: 25px; padding-left:  25px">
		<div id="cp" class="pull-right">
		</div>
		<script>
			document.getElementById("cp").innerHTML = '©' + (new Date().getFullYear()), '{{.Site.Title}}';
		</script>
		<div class="links pull-left">
			<ul>
				<li>
					<a href="https://www.iubenda.com/privacy-policy/7791405" class="iubenda-white no-brand iubenda-embed " title="Privacy Policy">Privacy Policy</a> <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
				</li>
				<li>
					<a href="https://www.iubenda.com/privacy-policy/7791405/cookie-policy" class="iubenda-white no-brand iubenda-embed " title="Cookie Policy">Cookie Policy</a> <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
				</li>
			</ul>
		</div>
	</div>
	-->

	<!-- Deferred Stylesheets -->
	<script type="text/javascript">
		/* First CSS File */
		var giftofspeed = document.createElement('link');
		giftofspeed.rel = 'stylesheet';
		giftofspeed.href = '{{.Site.BaseURL}}css/paper-kit.css';
		giftofspeed.type = 'text/css';
		//	var godefer = document.getElementsByTagName('link')[document.getElementsByTagName('link').length-1];
		var godefer = document.getElementById('fcStyle');
		godefer.parentNode.insertBefore(giftofspeed, godefer);

	/* 	var giftofspeed2 = document.createElement('link');
		giftofspeed2.rel = 'stylesheet';
		giftofspeed2.href = 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
		giftofspeed2.type = 'text/css';
		var godefer2 = document.getElementsByTagName('link')[0];
		godefer2.parentNode.insertBefore(giftofspeed2, godefer2); */
	</script>
</footer>