<title>{{.Title}} | LinkedData.Center</title>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:title" content="{{ .Title }}">
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta name="viewport" content="width=device-width" />
<meta name="description" property="og:description" content="{{ .Params.description }}">
<meta name="author" content="{{.Params.author | default " LinkedData.Center editor "}}">
<!-- v2
<meta name="twitter:creator" content="{{.Params.twitterAuthor | default " @LinkedData_CT " }}"/>
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@LinkedData_CT" />
-->
<meta name="google" content="notranslate" />
<meta name="keywords" content="{{ delimit .Keywords " , " }}">
{{ if .Params.Private | default false }}
<meta name="robots" content="noindex,follow">
{{ else }}
<meta name="robots" content="index,follow">
{{ end }}
<link rel="canonical" href="{{ .Permalink }}">
<link rel="dns-prefetch" href="https://fonts.googleapis.com/">
<link rel="dns-prefetch" href="https://cdn.auth0.com/">
<link rel="dns-prefetch" href="https://embed.typeform.com">
<link rel="icon" type="image/png" href="{{.Site.BaseURL}}img/favicon.ico">
<!-- Mailchimp -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<link rel="apple-touch-icon" sizes="76x76" href="{{.Site.BaseURL}}img/ldc-icon.png">
{{ if .RSSLink }}
<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />
<link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Title }}" />
{{ end }}

<style type="text/css"> 
#mc_embed_signup{
	background:#fff;
	clear:left;
	font:14px Helvetica,Arial,sans-serif; 
}
</style>


<script src="{{.Site.BaseURL}}js/js.cookie.min.js"></script>
<!-- v2 Google Analytics 
<script>
	(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date(); a = s.createElement(o),
		m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
	})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
	var rid = Cookies.get('_rid');
	if (rid) {
		ga('create', '{{.Site.Params.googleAnalyticsUserID}}', 'auto', {
			userId: rid
		});
		ga('set', 'dimension2', rid);
	} else {
		ga('create', '{{.Site.Params.googleAnalyticsUserID}}', 'auto');
		var clientID;
		ga(function (tracker) {
			clientID = tracker.get('clientId');
			ga('set', 'dimension1', clientID);
		});
	}
	ga('send', 'pageview');
</script>
-->

<!-- Stylesheets -->
<link rel="stylesheet" href="{{.Site.BaseURL}}css/bootstrap.min.css" crossorigin="anonymous">
<noscript>
	<link href="{{.Site.BaseURL}}css/paper-kit.css" rel="stylesheet" />
</noscript>
<!-- CSS custom FC-->
<link id="fcStyle" href="{{.Site.BaseURL}}css/custom_style.css" rel="stylesheet" />

<!--     Fonts and icons     -->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,300,700' rel='stylesheet' type='text/css'>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">

<!-- Core js files -->
<script async src="https://cdn.auth0.com/js/lock/11.3.0/lock.min.js"></script>

<!-- v2 
<script async defer src="https://embed.typeform.com/embed.js"></script> 
{{ partial "variables.html" . }}
<script defer src="{{.Site.BaseURL}}js/login.js"></script>
-->

<!-- Bootstrap js -->
<script defer src="{{.Site.BaseURL}}js/jquery-3.3.1.slim.min.js"></script>
<script defer src="{{.Site.BaseURL}}js/bootstrap.min.js"></script>

<!-- Particles js -->
<script async type="text/javascript" src="{{.Site.BaseURL}}js/particles.js"></script>

<!-- Control Center for Paper Kit: parallax effects, scripts for the example pages etc -->
<script defer src="{{.Site.BaseURL}}js/paper-kit.js"></script>


<!-- from https://www.iubenda.com 
<script type="text/javascript"> var _iub = _iub || []; _iub.csConfiguration = { "lang": "en", "siteId": 493212, "banner": { "textColor": "#ffffff", "backgroundColor": "#547973" }, "cookiePolicyId": 7791405 }; </script>
<script type="text/javascript" src="//cdn.iubenda.com/cookie_solution/safemode/iubenda_cs.js" charset="UTF-8" async></script>
-->