<div class="modal fade" id="mc-preventivo" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-register">
    <div class="modal-content">
      <div class="modal-header no-border-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h6 class="text-muted">{{.Site.Params.mcTitoloForm}}</h6>
      </div>
      <div class="modal-body">
        <form action="https://Center.us2.list-manage.com/subscribe/post?u=1c374651d12e83da7ff53d6c8&amp;id=7c9083405f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" onsubmit="return mcSubmitForm()" class="validate" target="_blank" novalidate>
         <div class="form-group">
          <label for="mce-EMAIL" id="mc-email-text">{{.Site.Params.mcEmail}} <span class="asterisk">*</span>
            <small id="mc-email-text-sub">{{.Site.Params.mcEmailComment}}</small>
          </label>
          <input type="email" value="" placeholder="{{.Site.Params.mcEmailPlaceholder}}" name="EMAIL" class="required email form-control" id="mce-EMAIL">
        </div>
        <div class="mc-field-group form-group">
          <div class="row">
            <label id="mc-solutions-text">{{.Site.Params.mcSolutions}}</label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" value="1" name="group[50753][1]" id="mce-group[50753]-50753-0" type="checkbox" >
              {{.Site.Params.mcSolution1}}
              <span class="form-check-sign"></span>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="2" name="group[50753][2]" id="mce-group[50753]-50753-1">
              {{.Site.Params.mcSolution2}}
              <span class="form-check-sign"></span>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="4" name="group[50753][4]" id="mce-group[50753]-50753-2">
              {{.Site.Params.mcSolution3}}
              <span class="form-check-sign"></span>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="8" name="group[50753][8]" id="mce-group[50753]-50753-3">
              {{.Site.Params.mcSolution4}}
              <span class="form-check-sign"></span>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="16" name="group[50753][16]" id="mce-group[50753]-50753-4">
              {{.Site.Params.mcSolution5}}
              <span class="form-check-sign"></span>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="32" name="group[50753][32]" id="mce-group[50753]-50753-5">
              {{.Site.Params.mcSolution6}}
              <span class="form-check-sign"></span>
            </label>
          </div>
        </div>
        <div class="mc-field-group form-group">
          <div class="row">
            <label id="mc-products-text">{{.Site.Params.mcProducts}}</label>  
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" value="64" name="group[50757][64]" id="mce-group[50757]-50757-0" type="checkbox" >
              {{.Site.Params.mcProduct1}}
              <span class="form-check-sign"></span>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="128" name="group[50757][128]" id="mce-group[50757]-50757-1">
              {{.Site.Params.mcProduct2}}
              <span class="form-check-sign"></span>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="256" name="group[50757][256]" id="mce-group[50757]-50757-2">
              {{.Site.Params.mcProduct3}}
              <span class="form-check-sign"></span>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="512" name="group[50757][512]" id="mce-group[50757]-50757-3">
              {{.Site.Params.mcProduct4}}
              <span class="form-check-sign"></span>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="1024" name="group[50757][1024]" id="mce-group[50757]-50757-4">
              {{.Site.Params.mcProduct5}}
              <span class="form-check-sign"></span>
            </label>
          </div>
        </div>
        <div class="form-group">
          <label id="mc-site-text" for="mce-COMSITE">{{.Site.Params.mcSite}}</label>
          <input type="text" value="" name="COMSITE" placeholder="{{.Site.Params.mcSitePlaceholder}}" class="form-control" id="mce-COMSITE">
        </div>
        <div class="form-group">
          <label id="mc-question-text" for="mce-QUESTION">{{.Site.Params.mcQuestion}}</label>
          <textarea type="text" value="" rows="4" name="QUESTION" placeholder="{{.Site.Params.mcQuestionPlaceholder}}" class="form-control" id="mce-QUESTION"></textarea>
        </div>
        <input type="hidden" value="" name="REQUESTID" class="form-control" id="mce-REQUESTID">
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1c374651d12e83da7ff53d6c8_7c9083405f" tabindex="-1" value=""></div>
        <div class="row">
          <div class="clear"><input class="btn btn-danger btn-round float-left" type="submit" value="{{.Site.Params.mcSubmit}}" name="subscribe" id="mc-embedded-subscribe" style="color: white;"></div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>