<div class="modal fade" id="mc-contattaci" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-register">
    <div class="modal-content">
      <div class="modal-header no-border-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h6 class="text-muted">{{.Site.Params.mcTitoloForm}}</h6>
      </div>
      <div class="modal-body">
        <form action="https://Center.us2.list-manage.com/subscribe/post?u=1c374651d12e83da7ff53d6c8&amp;id=7c9083405f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
         <div class="form-group">
          <label for="mce-EMAIL">{{.Site.Params.mcEmail}}<span class="asterisk">*</span>
            <small id="mc-email-text-sub">{{.Site.Params.mcEmailComment}}</small>
          </label>
          <input type="email" value="" placeholder="Type your email here..." name="EMAIL" class="required email form-control" id="mce-EMAIL">
        </div>
        <div class="form-group">
          <label for="mce-QUESTION">{{.Site.Params.mcQuestion}} </label>
          <textarea type="text" value="" name="QUESTION" placeholder="{{.Site.Params.mcQuestionPlaceholder}}" class="form-control" id="mce-QUESTION"></textarea>
        </div>
        <input type="hidden" value="" name="TAG" class="form-control" id="mce-TAG">
        <input type="hidden" value="" name="REQUESTID" class="form-control" id="mce-REQUESTIDD">
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1c374651d12e83da7ff53d6c8_7c9083405f" tabindex="-1" value=""></div>
        <div class="row">
          <div class="clear"><input class="btn btn-danger btn-round float-left" type="submit" value="{{.Site.Params.mcSubmit}}" name="subscribe" id="mc-embedded-subscribe" style="color: white;"></div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>