  <!-- TODO rimpicciolire o rendere fissa la navbar, da fastidio -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-transparent nav-down" style="z-index:100 !important" color-on-scroll="{{.value}}">
    <div class="container">
        <div class="navbar-translate">
            <div class="navbar-header">
                <a class="navbar-brand" rel="canonical" href="{{.context.Site.BaseURL}}" style="padding: 0px 15px;"><img  class="logo-navbar"></a>
            </div>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  href="javascript:void(0)" data-toggle="dropdown">Soluzioni</a>
                    <ul class="dropdown-menu dropdown-menu-right dropdown-danger">
                        {{ $v1 := where .context.Site.Pages "Section" "s"}}
                        {{range $v1}}
                        {{if .IsPage}}
                        <a class="dropdown-item" rel="canonical" href="{{.Permalink}}"><img src="{{.Site.BaseURL}}css/service-svg/{{.Params.service_icon}}" style="max-width: 45px; margin-right: 5px">&nbsp;{{.Title | markdownify}}</a>
                        {{end}}
                        {{end}}
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown">Prodotti</a>
                    <ul class="dropdown-menu dropdown-menu-right dropdown-danger">
                        {{ $v1 := where .context.Site.Pages "Section" "p"}}
                        {{range first 5 $v1}}
                        {{if .IsPage}}
                        <a class="dropdown-item" rel="canonical" href="{{.Permalink}}"><img src="{{.Site.BaseURL}}css/service-svg/service-{{index .Params.solutions 0}}.svg" style="max-width: 45px; margin-right: 5px">&nbsp;{{.Title | markdownify}}</a>
                        {{end}}
                        {{end}}                   
                        <a class="dropdown-item" rel="canonical" href="{{.context.Site.BaseURL}}p/">vedi tutti...</a>
                    </ul>
                </li>
                
                
                <li class="nav-item">
                    <a class="nav-link" style="display: inline-block;" href="{{.context.Site.BaseURL}}b/">
                        Contenuti
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" style="display: inline-block;" id="btn-login" href="#">
                        Login/Signup
                    </a>
                    <a class="nav-link" style="display: none;" id="btn-logout" href="">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
