<div class="row">
    <div class="col-md-3">
        <div class="card card-refine">
            <div class="panel-group" id="accordion" aria-multiselectable="true" aria-expanded="true">

                <div class="card-header card-collapse" role="tab" id="other_products">
                    <h5 class="mb-0 panel-title">
                        <a class="" data-toggle="collapse" data-parent="#accordion" href="#prodotti" aria-expanded="true" aria-controls="collapseSecond">
                            Altri Prodotti
                            <i class="nc-icon nc-minimal-down"></i>
                        </a>
                    </h5>
                </div>
                <div id="prodotti" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-body">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" onchange='manage(this);' value='{{.Get "product-title"}}' checked>
                                {{.Get "product-title"}}
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value='prod2' onchange='manage(this);'>
                                prod2
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value='prod3' onchange='manage(this);'>
                                prod3
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value='prod4' onchange='manage(this);'>
                                prod4
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                        
                    </div>
                </div>
                <div class="card-header card-collapse" role="tab" id="designer">
                    <h5 class="mb-0 panel-title">
                        <a class="" data-toggle="collapse" data-parent="#accordion" href="#refineDesigner" aria-expanded="true" aria-controls="collapseThree">
                            Soluzioni
                            <i class="nc-icon nc-minimal-down"></i>
                        </a>
                    </h5>
                </div>
                <div id="refineDesigner" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-body">

                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="" checked>
                                Arricchisci
                                <span class="form-check-sign"></span>
                            </label>
                        </div>

                    </div>
                </div>
            </div>
        </div> <!-- end card -->
    </div>
    <div class="col-md-9 ml-auto mr-auto">
        <div class="table-responsive">
            <table id="tabellaProdotti" class="table table-shopping">
                <thead>
                    <tr>
                        <th class="text-center"></th>
                        <th></th>
                        <th class="text-right">Price</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            <div class="img-container">
                                <img src="" alt="icona prodotto">
                            </div>
                        </td>
                        <td class="td-product">
                            <strong>{{.Get "product-title"}}</strong>
                            <p>
                            {{.Inner}}</p>
                        </td>

                        <td class="td-price">
                            <small>&euro;</small>49
                        </td>

                    </tr>

                    <tr class="tr-actions">
                     <td colspan="3"></td>
                     <td colspan="2" class="text-right">
                         <button type="button" class="btn btn-danger btn-lg">Completa selezione<i class="fa fa-chevron-right"></i></button>
                     </td>
                 </tr>
             </tbody>
         </table>
     </div>

 </div>
</div>


<script type="text/javascript" charset="utf-8" async defer>
    function manage(checkbox){
        let table = document.getElementById("tabellaProdotti");
        let rowCount = table.rows.length;
        let row, cells;
        let value = '<strong>'+checkbox.value+'</strong>';

        if (checkbox.checked){
            row = table.insertRow(rowCount-1);
            cells = [row.insertCell(0), 
            row.insertCell(1), 
            row.insertCell(2)];
            cells[0].innerHTML = '<div class="img-container"><img src="" alt="icona prodotto"></div>';
            cells[1].innerHTML = value + '<p>Altra descrizione breve ma non brevissima</p>'; cells[1].className = 'td-product';
            cells[2].innerHTML = '<small>&euro;</small>49'; cells[2].className = 'td-price';   
        }else{
            for (let i = 0; i < rowCount; i++) {
              if(table.rows[i].cells[1].innerHTML.indexOf(checkbox.value)>=0){
                table.deleteRow(i);
                break;
              }
              //Manca controllo di quando è vuoto il tutto
            }
        }
    }
</script>       


<!-- ekkkkkkeeeeeeeleeeeeee -->
<div class="modal fade" id="carosello" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-register">
        <div class="modal-content">
            <div class="modal-header no-border-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              <h6 class="text-muted">Subscribe to our mailing list</h6>
          </div>
          <div class="modal-body">
            <form action="chiedi-preventivo_submit" method="get" accept-charset="utf-8">
                <div class="page-carousel">
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner" role="listbox" style=" width:100%; height: 150px !important;">
                        <div class="carousel-item active">
                          <div class="mc-field-group form-group">
                            <label>Cosa ti serve fare con i tuoi dati? </label>
                            <div class="row">                    
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" value="1" name="group[50753][1]" id="mce-group[50753]-50753-0" type="checkbox" >
                                        Pulire
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="2" name="group[50753][2]" id="mce-group[50753]-50753-1">
                                        Unire
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="4" name="group[50753][4]" id="mce-group[50753]-50753-2">
                                        Mappare
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="8" name="group[50753][8]" id="mce-group[50753]-50753-3">
                                        Arricchire
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="16" name="group[50753][16]" id="mce-group[50753]-50753-4">
                                        Estrarre
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="32" name="group[50753][32]" id="mce-group[50753]-50753-5">
                                        Analizzare
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-move-right btn-sm" href="#carouselExampleIndicators" role="button" data-slide="next">
                            Next
                            <i class="nc-icon nc-minimal-right"></i>
                        </a>
                    </div>
                    <div class="carousel-item">
                        <div class="mc-field-group form-group">
                            <label>Per caso qualcuno dei nostri prodotti fa per te? </label>
                            <div class="row">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" value="64" name="group[50757][64]" id="mce-group[50757]-50757-0" type="checkbox" >
                                        SDaaS
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="128" name="group[50757][128]" id="mce-group[50757]-50757-1">
                                        CRM+
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="256" name="group[50757][256]" id="mce-group[50757]-50757-2">
                                        onto40
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="512" name="group[50757][512]" id="mce-group[50757]-50757-3">
                                        Lodmap2D
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" value="1024" name="group[50757][1024]" id="mce-group[50757]-50757-4">
                                        Lodmap3D
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                            </div> 
                        </div>
                        <a class="btn btn-move-right btn-sm" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            Prev
                            <i class="nc-icon nc-minimal-right"></i>
                        </a>
                        <a class="btn btn-move-right btn-sm" href="#carouselExampleIndicators" role="button" data-slide="next">
                            Next
                            <i class="nc-icon nc-minimal-right"></i>
                        </a>
                    </div>
                    <div class="carousel-item">
                        <div class="form-group">
                            <label for="mce-EMAIL">Email aziendale <span class="asterisk">*</span>
                            </label>
                            <input type="email" value="" placeholder="Type your email here..." name="EMAIL" class="required email form-control" id="mce-EMAIL">
                        </div>
                        <a class="btn btn-move-right btn-sm" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            Prev
                            <i class="nc-icon nc-minimal-right"></i>
                        </a>
                        <a class="btn btn-move-right btn-sm" href="#carouselExampleIndicators" role="button" data-slide="next">
                            Next
                            <i class="nc-icon nc-minimal-right"></i>
                        </a>
                    </div>
                    <div class="carousel-item">
                        <div class="form-group">
                            <label for="mce-QUESTION">Domanda </label>
                            <input type="text" value="" name="QUESTION" placeholder="Type your question here..." class="form-control" id="mce-QUESTION">
                        </div>
                        <a class="btn btn-move-right btn-sm" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            Prev
                            <i class="nc-icon nc-minimal-right"></i>
                        </a>
                        <a class="btn btn-move-right btn-sm" href="#carouselExampleIndicators" role="button" data-slide="next">
                            Subscribe
                            <i class="nc-icon nc-minimal-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
</div>
</div> 
</div>


