<!DOCTYPE html>
<html>
<head>
    {{ partial "header.html" . }}
    <meta name="robots" content="noindex, nofollow">
</head>
<body>
	{{ partial "navbar.html" (dict "context" . "value" 500)}}
	<div class="page-header" data-parallax="false" style="background-color: #8eccc2; background-image: url({{.Site.BaseURL}}img/mangrovia-bg1.jpg)">
        <div id="particles-js" style="min-height: 100vh"></div>
                <script type="text/javascript">
                    /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
                    particlesJS.load('particles-js', '{{.Site.BaseURL}}json/particlesjs-config.json'});
                </script>
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <!--<video autoplay="autoplay" style="width: 100%; position: relative;">
                    <source src="{{.Site.BaseURL}}{{.Params.headerVideo}}" type="video/mp4">
                    </video>
                    <div class="motto">

                    </div>
                </div>-->

                
                <div class="motto">
                    <img id="img404" src="{{.Site.BaseURL}}css/404-svg/404.svg" style="max-width: 100%">
                    <h1>Ops...</h1>
                    <h2><span>Sembra che qualcosa sia andato storto</span><br><span>Usa il menu per navigare dove vuoi</span></h2>
                    <H2></H2>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        {{.Content}}
    </div>

{{ partial "footer.html" . }}
</body>
</html>