<!DOCTYPE html>
<html lang="{{.Site.Params.languageCode}}">

<head>
    <link rel="alternate" hreflang="it" href="https://it.linkeddata.center/" />
    <link rel="alternate" hreflang="en" href="https://en.linkeddata.center/" />
	<link rel="alternate" hreflang="x-default" href="https://en.linkeddata.center/" />
    {{ partial "header.html" . }}
</head>

<body>
    {{ partial "navbar.html" (dict "context" . "value" 500)}}

    <div class="page-header" data-parallax="false" style="background-color: #8eccc2; background-image: url({{.Site.BaseURL}}{{.Params.headerBgImg}})">
        <div id="particles-js" style="min-height: 100vh"></div>
        <script type="text/javascript">
            /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
            window.addEventListener('load', function () {
                particlesJS.load('particles-js', '{{.Site.BaseURL}}json/particlesjs-config.json');
            })

        </script>
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <!--<video autoplay="autoplay" style="width: 100%; position: relative;">
                    <source src="{{.Site.BaseURL}}{{.Params.headerVideo}}" type="video/mp4">
                    </video>
                </div>-->

                <div class="motto">
                    <h1>{{.Params.headerMotto | markdownify}}</h1>
                </div>


				{{if isset .Params "videobtntxt" }}
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#videoModal" style="border-radius: 30px; margin-top: 50px">
                    <i class="nc-icon nc-button-play" style="margin-right: 5px"></i>{{.Params.videoBtnTxt}}
                </button>

				{{ $videoid := .Params.youTubeVideoID | default "J-fyNIJ2--Q" }}
                <div class="modal fade " id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-body" style="display: inline-flex; padding: 10px">
                                <iframe id="ytplayer" type="text/html" width="720" height="405" src="https://www.youtube.com/embed/{{$videoid}}?&color=white&modestbranding=1&rel=0"
                                    frameborder="0" allowfullscreen style="margin: auto;"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </div>

    <div itemtype="http://schema.org/LocalBusiness" itemid="http://linkeddata.center/" itemscope>
        <link itemprop="image" href="{{.Site.BaseURL}}img/logo-grigio-trasp-oriz.png" />
        <link itemprop="logo" src="http://linkeddata.center/logo" />
        <meta itemprop="isicV4" content="6201" />
        <meta itemprop="taxID" content="IT03587150131" />
        <meta itemprop="naics" content="511210" />
        <link itemprop="department" href="http://linkeddata.center/about#administration" />
        <link itemprop="department" href="http://linkeddata.center/about#lab" />
        <meta itemprop="legalName" content="LINKEDDATA.CENTER S.R.L." />
        <meta itemprop="alternateName" content="LDC" />
        <link itemprop="hasMap" href="https://goo.gl/mdKfxG" />
        <link itemprop="hasOfferCatalog" href="https://subscriptions.linkeddata.center/#catalog" />
        <meta itemprop="vatID" content="IT03587150131" />
        <meta itemprop="name" content="LinkedData.Center" />
        <meta itemprop="email" content="info@linkeddata.center" />
        <link itemprop="address" href="http://linkeddata.center/about#headquarters" />
        <link itemprop="url" href="https://linkeddata.center/" />
        <link itemprop="url" href="http://www.linkeddata.center/" />
        <link itemprop="url" href="https://en.linkeddata.center/" />
        <link itemprop="url" href="https://it.linkeddata.center/" />
    </div>

    <div class="wrapper">
        {{.Content}}
    </div>

    {{ partial "footer.html" . }}
</body>

</html>