<!DOCTYPE html>
<html lang="{{.Site.Params.languageCode}}">
   <head>
      {{partial "header.html" . }}
   </head>
   <body>
      {{ partial "navbar.html" (dict "context" . "value" 200)}}
      <div class="page-header page-header-small" data-parallax="false" style="background-color: #8eccc2; background-image: url({{.Site.BaseURL}}img/mangrovia-bg-blog.jpg)">
         <div class="filter"></div>
         <div class="content-center">
            <div class="container">
               <div class="motto">
                  <h1 class="title">{{.Title | default "Contenuti"}}</h1>
                  <h3 class="description">{{.Description | default "Live and breathe the coolest things of our labs"}}</h3>
               </div>
            </div>
         </div>
      </div>
      <div class="wrapper" style="padding-top: 60px">
         <div class="container">
            <div class="cd-section section-white" id="blogs">
               <h2>{{.Site.Params.articlesIndexLabel | default "Indice analitico"}}</h2>
               {{ $site := .Site }}
               {{ range $taxonomyname, $taxonomy := $site.Taxonomies }}
               {{ $taxonomyPage := $site.GetPage "taxonomy" $taxonomyname }}
               <h4>{{ $taxonomyPage.Title }}</h4>
               <ul>
                  {{ range $key, $value := $taxonomy }}
                  {{ $taxonomyTermPage := $site.GetPage "taxonomyTerm" $taxonomyname $key }}
                  <li><a href="{{ $taxonomyTermPage.Permalink }}">{{$taxonomyTermPage.Title}}</a></li>
                  {{ end }}
               </ul>
               {{ end }}
            </div>
         </div>
      </div>
      </div>
      {{ partial "footer.html" . }}
   </body>
</html>