<!DOCTYPE html>
{{ $header := .Resources.GetMatch "{**.jpg,**.png}" }}
{{ if $header }}
{{ .Scratch.Set "HeaderUrl" $header.Permalink }}
{{ else }}
{{ .Scratch.Set "HeaderUrl" (add .Site.BaseURL "img/mangrovia-bg-blog.jpg") }}
{{ end }}
<html lang="{{.Site.Params.languageCode}}">
   <head>
      <meta property="og:image" content="{{.Scratch.Get "HeaderUrl"}}" />
      {{partial "header.html" . }}
   </head>
   <body>
      {{partial "navbar.html"  (dict "context" . "value" 10)}}
      <div class="page-header page-header-xs" style="">
         <div class="header-bg" style="width: 100%; height: 100%; position: absolute; background-color: #8eccc2; background-image: url({{.Scratch.Get "HeaderUrl"}}); filter: blur(7px); background-size: cover; background-position: center;">
      </div>
      <div class="filter header-blurred-filter"></div>
      <div class="content-center">
         <div class="container" >
            <h1 class="title" >{{.Page.Params.title | markdownify}}</h1>
         </div>
      </div>
      </div>
      <div class="wrapper">
         <div class="section landing-section" style="padding: 10px 0px 20px 0px">
            <div class="container">
               <div class="row">
                  <div class="col-md-8">
                     <article>
                        {{.Content}}
                     </article>
                  </div>
                  <div class="col-md-4">
                     <div>
                        {{ $page_link := .Permalink }}
                        {{ $tags := .Params.tags }}
                        {{ $site := .Site }}
                        {{ $posts := where .Site.Pages ".Section" "b"}}
                        {{ $matches := where $posts ".Params.tags" "intersect" .Params.tags}}
                        {{if gt (len $matches) 1}}
                        <h3>{{.Site.Params.articlesRelatedArticlesLabel | default "Related articles"}}</h3>
                        <ul style="list-style-type: none; padding-left: 0px;">
                           {{ range first 5 $matches}}
                           {{ $page := . }}
                           {{ $has_common_tags := intersect $tags .Params.tags | len | lt 0 }}
                           {{ if and $has_common_tags (ne $page_link $page.Permalink) }}
                           <li><a href="{{ $page.Permalink }}">{{ $page.Title }}</a></li>
                           {{ end }}
                           {{ end }}
                        </ul>
                        {{ end }}
                     </div>
                     <div>
                        {{if isset .Params "products"}}
                        <h3>{{.Site.Params.articlesRelatedProductsLabel | default "Related products"}}</h3>
                        <ul style="list-style-type: none; padding-left: 0px;">
                           {{range first 5 .Params.products }}
                           {{ with $site.GetPage "page" "p" . }}
                           <li><a href="{{.Permalink}}" >{{ .Title | markdownify}}</a></li>
                           {{ end }}
                           {{end}}
                        </ul>
                        {{end}}
                     </div>
                     <div>
                        {{if isset .Params "solutions"}}
                        <h3>{{.Site.Params.articlesRelatedSolutionsLabel | default "Related solutions"}}</h3>
                        <ul style="list-style-type: none; padding-left: 0px;">
                           {{range .Params.solutions}}
                           {{ with $site.GetPage "page" "s" . }}
                           <li><a href="{{.Permalink}}" >{{ .Title | markdownify}}</a></li>
                           {{ end }}
                           {{end}}
                        </ul>
                        {{end}}
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      {{partial "footer.html" .}}
   </body>
</html>