<div style="text-align: center; margin-top: 25px">

    {{$label := "Chiedi preventivo"}}
    {{$type := "button"}}
    {{$tag := "generico"}}
    {{if eq (.Get "type") $type}}
    <a class="btn btn-danger btn-round" form="selettore" data-toggle="modal" data-target="#mc-preventivo" aria-expanded="false" aria-controls="mc-form-preventivo" tag="{{.Get "tag" | default $tag}}" style="color: white;">
        {{else}}
        <a class="link btn btn-link btn-info contact-link" data-toggle="modal" data-target="#mc-preventivo" aria-expanded="false" aria-controls="mc-form-preventivo" form="selettore" tag="{{.Get "tag" | default $tag}}">
            {{end}}
            {{.Get "label" | default $label}}
        </a>
    {{partial "mc-form-preventivo-modal" .}}
    </div>