<div style="text-align: center; margin-top: 25px">
  <a class="btn btn-danger btn-round" href="{{.Site.BaseURL}}{{.Page.Params.cta | default ""}}" style="color: white;" >
  	{{.Get 0 | default "per saperne di più"}}
  </a>
</div>
