<div class="section text-center landing-section">
	<div class="container">
		<div class="row justify-content-center">
			<iframe {{with .Get "url"}} src="{{.}}" {{end}} frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
		</div>
	</div>
</div>