	<div class="container">
		<div class="row">
			{{$defaultLabel := "ulteriori informazioni »"}}

			{{ $v1 := where .Site.Pages "Section" "s"}}
			{{ $count := 1 }}
			{{range $v1}}
			{{if .IsPage}}
			<div class="col-md-4">
				<div class="info">
					<div class="icon icon-default" >
						<a href="{{.Permalink}}">
							<img src="{{.Site.BaseURL}}css/service-svg/{{.Params.service_icon}}" style="max-width: 150px;">
						</a>
					</div>
					<div class="description">
						<h4 class="info-title titolo-ldd">{{.Title}}</h4>
						<p>{{.Params.description}}</p>
						<a href="{{.Permalink}}" class="btn btn-link btn-info">{{ $.Get "btnLabel" | default $defaultLabel }}</a>
					</div>
				</div>
			</div>
			{{ $count := add $count 1 }}
			{{if eq $count 3}}
		</div>
		<div class="row">
			{{end}}
			{{end}}
			{{end}}
		</div>
	</div>
