<div class="info ">
	<div class="icon icon-default" >
		<!--<i class="nc-icon nc-chart-bar-32"></i>-->
		<img src="{{.Site.BaseURL}}css/{{.Get "iconSVG"}}" style="max-width: 135px">
	</div>
	<div class="description">
		<h4 class="info-title titolo-ldd">{{.Get "title"}}</h4>
		<p>{{.Inner}}</p>
	</div>
</div>