
<div class="section  landing-section">
  <div class="container">
    <div class="row">
      <div class=" ml-auto mr-auto">
        <div class="row ">
          <div class="icon icon-default" style="margin-top: 2vh" >
            <i class="nc-icon planet" style="font-size: 60px"></i>
          </div>
          <h2 class="title titolo-ldd"  >{{.Site.Params.homeLatestPosts | default "...news from our blog"}}</h2>
        </div>
      </div>
      <br> <br>
    </div>
    <div class="row" style="margin-top: 2vh;  float: none; display: inline;">
      <div class="row">	
        {{ $posts := where .Site.Pages.ByPublishDate.Reverse ".Section" "b" }}
        {{range first 8 $posts}}
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-default">
              <i class="nc-icon nc-paper" style="color: #8accc2"></i>
            </div>
            <div class="description">
              <h4 class="info-title">{{.Title}}</h4>
              <a href="{{.Permalink}}" class="btn btn-link btn-info">{{.Site.Params.productReadArticles | default "Read more"}}</a>
            </div>
          </div>
        </div>
        {{end}}
      </div>
     </div>
    </div>
</div>
