<div>
	{{$label := "Registrati se vuoi continuare a leggere"}}
	<div class="loggedin-content" style="display:none; margin: 0; padding: 0;">
		{{.Inner}}
	</div>

<div style="text-align: center;" >
<a onclick="lock.show()" style="display:none;" class="placeholder btn btn-link btn-danger" >
	{{.Get "label" | default $label}}
</a>
</div>

</div>