{{$defaultTitle := "Quanto costa?"}}
{{$title := .Get "title" | default $defaultTitle}}
<div class="section landing-section">
	<div class="container">
		<div class="row">
			<div class=" ml-auto mr-auto">
				<div class="row">
					<div class="col-4 col-sm-3 align-self-center"><img src="{{.Site.BaseURL}}css/product-svg/product-cost.svg" style="max-width: 100px"></div>
					<div class="col-8 col-sm-9 align-self-center"><h2 class="title titolo-ldd sm-nowrap" >{{$title | markdownify}}</h2></div>
				</div>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{.Inner}}
			</div>
			<br style="margin-bottom: 10px">
		</div>
		<br>
	</div>
</div>