<div class="section landing-section">
	<div class="container">
		<div class="row">
			<div class=" ml-auto mr-auto">
              <div class="row " style="text-align: center; margin-top: 2vh">
                  <div class="s-descr">{{.Inner}}</div>
              		
            	</div>
        </div>
        <br> <br>
		</div>
	</div>
</div>