{{$defaultTitle := "Specifiche tecniche"}}
{{$title := .Get "title" | default $defaultTitle}}
<div class="section landing-section">
	<div class="container">
		<div class="row">
			<div class=" ml-auto mr-auto">
				<div class="row">
					<div class="col-4 col-sm-3 align-self-center" style="padding: 0px;"><img src="{{.Site.BaseURL}}css/product-svg/product-tech-spec.svg" style="max-width: 100px"></div>
					<div class="col-8 col-sm-9 align-self-center" style="padding: 0px;"><h2 class="title sm-nowrap titolo-ldd" style="" >{{$title | markdownify}}</h2></div>
				</div>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{.Inner}}
			</div>
		</div>
	</div>
</div>