<div class="section text-center landing-section" style="background-image: url({{.Get "parallax-image"}}); 
	height: {{.Get "parallax-height"}}; 
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;">
    <div class="filter" style="height: 100%;    width: 100%;    position: absolute;  z-index: 100;    background: rgba(0, 0, 0, {{.Get "filter-opacity"}});"></div>
    <div class="container" style="z-index: 101;">
        {{.Inner}}
    </div>
</div>