{{$defaultTitle := "Quali benefici?"}}
{{$title := .Get "title" | default $defaultTitle}}
<div class="section section-gray landing-section">
	<div class="container">
		<div class="row" style="padding-bottom: 20px">
      <!--
			<div class=" ml-auto mr-auto">
            	<div class="row pull-left">
            		<div class="icon icon-default" style="margin-top: 2vh" >
                		<i class="nc-icon nc-bulb-63" style="font-size: 60px"></i>
              		</div>
              		<h2 class="title" style="margin-left: 2vh" >Quali benefici?</h2>
            	</div>
              <div class="row pull-left" style="text-align: left; margin-top: 2vh">
                  {{.Inner}}

            	</div>
        </div>
        <br> <br>
      -->
      <div class="col-md-6 col-12 order-md-last align-self-center" style="text-align: center;">
        <img src="{{.Site.BaseURL}}css/service-svg/quali-benefici.svg" style="max-width: 75%">
      </div>
      <div class="col-md-6 col-12">
        <h2 class="title titolo-ldd solution-title-h2" style="margin-right: 2vh" >{{$title | markdownify}}</h2>
        <div class="solution-content-p" style="text-align: justify;">
          {{.Inner}}
        </div>
      </div>
		</div>
	</div>
</div>