{{$defaultTitle := "A cosa serve?"}}
{{$title := .Get "title" | default $defaultTitle}}
<div class="section landing-section">
	<div class="container">
	  <div class="row" style="padding-bottom: 20px">
      <div class="col-md-6 col-12 align-self-center" style="text-align: center;">
        <img src="{{.Site.BaseURL}}css/service-svg/cosa-serve.svg" style="max-width: 75%">
      </div>
      <div class="col-md-6 col-12">
        <h2 class="title titolo-ldd solution-title-h2" style="margin-right: 2vh" >{{$title | markdownify}}</h2>
        <div class="solution-content-p" style="text-align: justify;">
          {{.Inner}}
        </div>
      </div>
	 </div>
  </div>
</div>