<style type="text/css">
	.nav-a{
	font-size: 14px;
    padding: 2px;
    display: block;
    color: #666666;
	}
	.nav-ul{
		list-style-type: none;
		padding-left: 0px;
	}
</style>
<div class="col-lg-3 col-md-6">
    <div class="fixed-section">
        <ul class="nav-ul">
            {{.Inner}}
        </ul>
    </div>
</div>
	              