<!DOCTYPE html>
<html lang="{{.Site.Params.languageCode}}">
<head>
{{ partial "header.html" . }}
</head>
<body>
	{{ partial "navbar.html" (dict "context" . "value" 200)}}
	<div class="page-header page-header-small" data-parallax="false" style="background-color: #8eccc2; background-image: url({{.Site.BaseURL}}img/mangrovia-bg-blog.jpg)">
	  <div class="filter"></div>
	  <div class="content-center">
	    <div class="container">
	      <div class="motto">
	        <h1 class="title">{{ .Title | default "All solutions" }}</h1>
	        <h3 class="description">{{ .Description | default "All you need to use data" }}</h3>
	      </div>
	    </div>
	  </div>
	</div>
	
	 <div class="blog-1" id="blog-1">
	   <div class="container">
	     <div class="row">
	       <div class="col-md-10 ml-auto mr-auto">
	         {{ range .Data.Pages }}
	         <div class="card card-plain card-blog">
	           <div class="row">
	             <div class="col-md-5">
	               <div class="card-image">
	               <img src="{{.Site.BaseURL}}css/service-svg/{{.Params.service_icon}}" style="max-width: 120px; margin-top: 70px">
	               </div>
	             </div>
	             <div class="col-md-7">
	               <div class="card-body">
	                <h3 class="card-title"><a href="{{ .Permalink }}">{{.Title | markdownify}}</a></h3>
	                <p class="card-description">
	                 {{ .Summary }}
	                </p>
	              </div>
	            </div>
	          </div>
	         </div>
	         {{ end }}
	       </div>
	     </div>
	   </div>
	 </div>
	 {{ partial "footer.html" . }}
</body>
</html>
