<!DOCTYPE html>
<html lang="{{.Site.Params.languageCode}}">
<head>
{{ partial "header.html" . }}
<style type="text/css">
	.landing-section{padding: 20px 0px}
</style>
</head>
<body>
  <!-- TODO rimpicciolire o rendere fissa la navbar, da fastidio -->
  {{partial "navbar.html"  (dict "context" . "value" 200)}}

  <!-- <div class="page-header" data-parallax="true" style="background-image: url('../img/research-topology.jpg');"> -->
    <div class="page-header page-header-xs" data-parallax="false" style="background-color: #8eccc2; background-image: url({{.Site.BaseURL}}{{.Params.headerBgImg}})">
      <div class="filter"></div>
      <div class="content-center">
        <div class="container" >

          <div class="icon icon-default" >
            <img src="{{.Site.BaseURL}}css/service-svg/{{.Params.service_icon}}" style="max-width: 120px; margin-top: 70px">
          </div>
          <h1 class="title" style="margin-top: 15px">{{.Title | markdownify}}</h1>
        </div>
      </div>
    </div>
    <div class="wrapper">
      {{.Content}}

      {{ $prods := where .Site.Pages "Section" "p"}}
      {{ $matches := where $prods ".Params.solutions" "intersect" (slice (lower .Page.Params.title))}}

      {{if gt (len $matches) 0}}
      <div class="section section-image"  style="background-image: url(../../img/mangrovia-sun-prod.jpg);
      
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      align-items: center;
      justify-content: center;
      display: flex;
      margin-top: 50px" >
      <div class="container">
        <div class="row">
          <div class=" ml-auto mr-auto">
            <div class="row ">
              <div class="icon icon-default" style="margin-top: 2vh" >
                <!--<i class="nc-icon nc-atom" style="font-size: 60px"></i>-->
              </div>
              <h2 class="title"  >{{.Site.Params.solutionRelatedProductsLabel | default "Related products"}}</h2>
            </div>
          </div>
          <br> <br>
        </div>

        <div class="row justify-content-center">
          <!-- list p -->


          {{range first 3 $matches}}
          <div class="col-12 col-md-4 " >
            <div class="card card-register" style="background-color: #ff8108; margin: 0;text-align: center; margin-bottom: 20px">
              <h3 class="title">{{.Title | markdownify}}</h3>
              <p>{{.Params.description}}</p>
              <a href="{{.Permalink}}" style="text-align: center; float: center "><button type="button" class="btn btn-outline-default btn-round" style="color: white; border-color: white;">{{.Site.Params.solutionSeeMore | default "See more"}}</button></a>
            </div>
          </div>
          {{end}}


        </div>

      </div>
    </div><!-- fine product section -->
    {{end}}

    {{ $posts := where .Site.Pages "Section" "b"}}
    {{ $matches := where $posts ".Params.solutions" "intersect" (slice (lower .Page.Params.title)) }}
    {{ $v3 := sort $matches ".Params.date" "desc"}}    {{if gt (len $v3) 0}}
    <div class="section  landing-section">
      <div class="container">
        <div class="row">
          <div class=" ml-auto mr-auto">
            <div class="row ">
              <div class="icon icon-default" style="margin-top: 2vh" >
                <i class="nc-icon planet" style="font-size: 60px"></i>
              </div>
              <h2 class="title titolo-ldd"  >{{.Site.Params.solutionRelatedArticlesLabel | default "Related articles"}}</h2>
            </div>
          </div>
          <br> <br>
        </div>
        <div class="row" style="margin-top: 2vh;  float: none; display: inline;">
          <!-- list -->

          <div class="row">
            {{range first 8 $v3}}
            <div class="col-md-3">
              <div class="info">
                <div class="icon icon-default">
                  <i class="nc-icon nc-paper" style="color: #8accc2"></i>
                </div>
                <div class="description">
                  <h4 class="info-title">{{.Title}}</h4>
                  <a href="{{.Permalink}}" class="btn btn-link btn-info">{{.Site.Params.solutionReadArticles| default "Read the article"}}</a>
                </div>
              </div>
            </div>
            {{end}}
          </div>

        </div>
      </div>
    </div><!-- fine sec art -->
    {{end}}



  </div><!-- wrapper -->

  {{ partial "footer.html" .}}
</body>
</html>