<!DOCTYPE html>
<html lang="{{.Site.Params.languageCode}}">
<head>
	{{ partial "header.html" . }}
</head>
<body>
	{{partial "navbar.html"  (dict "context" . "value" 10)}}

	<div class="page-header page-header-xs" data-parallax="false" style="background-color: #8eccc2; background-image: url({{.Site.BaseURL}}{{.Params.bgImg}})">
		<div id="particles-js" style="max-height: 40vh"></div>
        <script type="text/javascript">
            /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
            particlesJS.load('particles-js', '{{.Site.BaseURL}}json/particlesjs-config.json', function() {
              console.log('callback - particles.js config loaded');
            });
        </script>
		<div class="filter"></div>
		<div class="content-center">
            <div class="container">
                <div class="motto">
                    <h1>{{.Params.headerMotto}}</h1>
                </div>
            </div>
        </div>
	</div>

	<div class="wrapper">
		{{.Content}}
	</div>

	{{partial "footer.html" .}}
</body>


</html>
