  
 <meta name="robots" content="noindex, nofollow">
 <script src="https://cdn.auth0.com/js/lock/11.3.0/lock.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
 {{ partial "variables.html" . }}

<!--  <script type="text/javascript">
   /*window.location.replace(localStorage.getItem("lastVisitedUrl"));
   window.history.replaceState({}, document.title, window.location.pathname);*/
 </script> -->